<div >
  <div style="padding-left: 15%; width: 60%;margin: 0 auto;">
    <p>Estimado(a) {{datosU.nombre}}</p>
    <p>
      Hemos recibido sus datos y nos pondremos en contacto con usted en la
      brevedad posible. Enviaremos un correo con información a su cuenta: <a href="">{{datosU.mail}}</a> 
    
    </p>
    <div style="padding-left: 60%">
      <p>Atte.</p>
      <p>Green Leaves</p>
      <p>{{datosU.ciudadEstado}}  a <span>{{datosU.fecha | date:'dd-MMMM -yyyy'}}</span></p>
    </div>
  </div>
</div>
